:root {
    --bakery-landing-1-background: #faf4ea;
    --bakery-landing-1-c-2: #819b57;
    --bakery-landing-13: #465929;
    --bakery-landing-11: #31261a;
    --bakery-landing-14: #a18268;
    --bakery-landing-1c5: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;