/* Carousel */
.carousel-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--bakery-landing-11);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: var(--bakery-landing-11);
    flex-shrink: 0;
    transform: rotate(-180);

    &:hover {
        background-color: var(--bakery-landing-11);
        fill: var(--bakery-landing-1-background);
    }

    &--next {
        transform: rotate(0.5turn);
    }
}
