.form-terms {
    font-weight: 500px;
    font-size: 12px;
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 24px;

    &__link {
        color: var(--bakery-landing-11);
        text-underline-offset: 3px;
    }
}