/* Chefs section */
.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.chefs-title {
    margin: 0 auto 80px;
    position: relative;
}

.chefs-title::before,
.chefs-title::after {
    width: 352px;
    border: 2px solid var(--bakery-landing-1c5);
    content: "";
    position: absolute;
    bottom: 23px;
}

.chefs-title::before {
    left: 0;
}

.chefs-title::after {
    right: 0;
}
