/* Footer */

.footer {
    background-image: url(../images/footer-background.png);
    background-color: var(--bakery-landing-11);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 32px 0;


    &::before,
    &::after {
        content: "";
        background-repeat: no-repeat;
        bottom: 0;
        position: absolute;
    }
    
    &::before {
        background-image: url(../images/decor-bread-small.png);
        width: 180px;
        height: 120px;
        left: 0;
    }
    
    &::after {
        background-image: url(../images/decor-bread-large.png);
        width: 380px;
        height: 190px;
        right: 0;
    }

    &__container {
        display: flex;
        gap: 20px;
        flex-direction: column;
        
        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    }
    
    &__nav,
    &__address {
        display: flex;
        gap: 20px;
        flex-direction: column;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            flex-basis: 50%;
            flex-direction: row;
            text-align: left;
        }
    }
    
    &__logo,
    &__menu {
        flex-grow: 1;
    }
    
    &__address-link {
        font-size: 16px;
        font-weight: 300;
        color: var(--bakery-landing-1-background);
        text-decoration: none;
        transition: color 0.3s;
    }
    
    &__address-link:hover {
        color: var(--bakery-landing-1-c-2);
    }
    
    &__address-icon {
        fill: var(--bakery-landing-1-background);
    }
    
    &__address-copyright {
        font-size: 14px;
        color: var(--bakery-landing-14);
    }
    
    &__address-list,
    &__address-info {
        flex-grow: 1;
    }
}

